<!-- ko with: home -->
<div class="jumbotron">
    <h1>Ye Olde Text Converter</h1>
    <p class="lead">We're using Knockout.js to do some text modification in real-time</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Type your Text Here.</h2>
        <textarea data-bind="value: inputText"></textarea>
       
    </div>

    <div class="col-md-6">
        <h2>Check out that snout! </h2>
        <p data-bind="text: outputText"></p>
    </div>
</div>

<!-- /ko -->
